@model BrainThud.Core.Models.Card

@{
    Layout = "~/Views/Shared/_public-layout.cshtml";
}

<div class="row-fluid skip-line">
    <div class="span2">
        <span class="form-label">Deck name</span>
    </div>
    <div class="span10 form-text">
        @Html.ActionLink(Model.DeckName, "Deck", new { userId = @Model.UserId, deckNameSlug = @Model.DeckNameSlug }, new { @class = "plain-link" })
    </div>
</div>
<div class="row-fluid skip-line">
    <div class="span2">
        <span class="form-label">Tags</span>
    </div>
    <div class="span10">
        <div class="form-text">@Model.Tags</div>
    </div>
</div>
<div class="row-fluid skip-line">
    <div class="span2">
        <span class="form-label">Question</span>
    </div>
    <div class="span10">
        <div class="markdown full-card question">@Model.Question</div>
    </div>
</div>
<div class="row-fluid">
    <div class="span2">
        <span class="form-label">Answer</span>
    </div>
    <div class="span10">
        <div class="markdown full-card answer">@Model.Answer</div>
    </div>
</div>
