@model System.Collections.Generic.List<BrainThud.Core.Models.Card>

@{
    var firstCard = Model.FirstOrDefault();

    if (firstCard != null)
    {
        ViewBag.Title = firstCard.DeckName;
    }

    Layout = "~/Views/Shared/_public-layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<ul>
    @foreach (var card in Model)
    {
        <li>
            <a id="card-@card.EntityId" class="undecorated-link" href="@Url.Action("Card", new { userId = card.UserId, cardId = card.EntityId, cardSlug = "test-slug" })">
                <div class="markdown list-card hover-border question">@card.Question</div>
                <div class="markdown list-card hover-border answer hidden">@card.Answer</div>
            </a>
            <ul class="mini-menu">
                <li>@Html.ActionLink("view", "Card", new { userId = card.UserId, cardId = card.EntityId, cardSlug = "test-slug" })
                <li><a href="javascript:flipCard('card-@card.EntityId')">flip</a></li>
            </ul>
        </li>
    }
</ul>
