@using BrainThud.Web
@{
    ViewBag.Title = "BrainThud";
}
    
@section menu {
    <li><a href="" data-bind="click: goToCreateCard" data-toggle="collapse" data-target=".nav-collapse">Create Card</a></li>
    <li><a href="" data-bind="click: goToLibrary" data-toggle="collapse" data-target=".nav-collapse">Library</a></li>
    <li><a href="" data-bind="click: goToQuiz" data-toggle="collapse" data-target=".nav-collapse">Quiz</a></li>
    <li><a href="" data-bind="click: goToUserConfiguration" data-toggle="collapse" data-target=".nav-collapse">Settings</a></li>
    <li><a href="" data-bind="click: goToSignOut" data-toggle="collapse" data-target=".nav-collapse">Sign Out</a></li>
}

@RenderPage("~/Views/card.cshtml")
@RenderPage("~/Views/create-card.cshtml")
@RenderPage("~/Views/library.cshtml")
@RenderPage("~/Views/quiz.cshtml")
@RenderPage("~/Views/quiz-card.cshtml")
@RenderPage("~/Views/user-configuration.cshtml")
@RenderPage("~/Views/delete-card-dialog.cshtml")
@RenderPage("~/Views/card-info-dialog.cshtml")
    
@section outsideMain {
    <div id="loading">
        <img src="~/Images/loading.gif" />
    </div>
}

@section Scripts {
    @Scripts.Render(
        BundlePaths.EXTERNAL_LIBS,
        ScriptPaths.REQUIRE_JS,
        BundlePaths.APP_LIBS,
        ScriptPaths.MAIN_JS)

   <script type="text/javascript">
        var uvOptions = {};
        (function() {
            var uv = document.createElement('script');
            uv.type = 'text/javascript';
            uv.async = true;
            uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/UCF5knvUK7R0PeH2KK7w.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(uv, s);
        })();
    </script>
}