@using System.Web.Optimization
@using BrainThud.Web
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>BrainThud</title>
    <style>
        body
        {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    @Styles.Render(BundlePaths.CSS, BundlePaths.LESS)
    @Scripts.Render(BundlePaths.MODERNIZR)
</head>
    <body>
        <div class="container">
            <header>
                <h1>BrainThud</h1>
                <nav id="shell-top-view" class="main-nav">
                    <div class="accent-left"></div>
                    <ul data-bind="if: $data">
                        <li class="route-top"><a href="#/todays-cards">Today's Cards</a></li>
                        <li class="route-top"><a href="#/create-card">Create Card</a></li>
                    </ul>
                </nav>
            </header>
                
            <section class="main">
                @RenderPage("Views/create-card.cshtml")
                @RenderPage("Views/todays-cards.cshtml")
            </section>
        </div>
        @Scripts.Render(
            BundlePaths.JQUERY,
            BundlePaths.EXTERNAL_LIBS,
            ScriptPaths.REQUIRE_JS,
            BundlePaths.APP_LIBS,
            ScriptPaths.MAIN_JS)
        
        <script>
                $('.view').hide();
        </script>
    </body>
</html>
