@using BrainThud.Core

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>BrainThud</title>
    @Styles.Render(BundlePaths.CSS, BundlePaths.LESS)
    @Scripts.Render(BundlePaths.MODERNIZR)
</head>
<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    
    <header>
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            @if (ViewBag.HideNavBar == null || !ViewBag.HideNavBar)
            {
                <div id="#header-content" class="container">
                    <a class="brand" href="/">
                        <img src="~/Images/logo-partial-54.png" />
                    </a>

                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                    </a>
                    
                    <div class="identity">
                        @if (User.Identity.IsAuthenticated)
                        {
                            @User.Identity.Name
                        }
                        else
                        {
                            @Html.ActionLink("Log In", "Login", "Account")
                            @Html.ActionLink("Sign Up", "Login", "Account")
                        }
                    </div>

                    <section id="nav-view">
                        <div class="nav-collapse">
                            <ul class="nav main-nav">
                                 @RenderSection("menu", required: false)
                            </ul>
                        </div>
                    </section>
                </div>
            }
        </div>
    </div>
    </header>

    <div class="container main-container">
        <section class="main">
            @RenderBody()
        </section>
    </div>

    @Scripts.Render(BundlePaths.JQUERY)

    @RenderSection("outsideMain", required: false)
    @RenderSection("scripts", required: false)
    
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38179446-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
