@using BrainThud.Web
@{
    ViewBag.Title = "BrainThud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.HideNavBar == null || !ViewBag.HideNavBar)
{
    <text>
    @section menu {

        @if(User.Identity.IsAuthenticated)
        {
            <li>@Html.ActionLink("All Cards", "Index", "Cards")</li>
            <li>@Html.ActionLink("My Site", "Home", "Home")</li>
            <li>@Html.ActionLink("Sign Out", "SignOut", "Account")</li>
        }
        else
        {
            <li>@Html.ActionLink("All Cards", "Index", "Cards")</li>
        }
    }
    </text>
}

@RenderBody()

@section Scripts {
    @Scripts.Render(BundlePaths.EXTERNAL_LIBS, BundlePaths.PUBLIC)
    @RenderSection("scripts", required: false)
}
