@using BrainThud.Core
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.HideNavBar == null || !ViewBag.HideNavBar)
{
    <text>
    @section menu {
        <li>@Html.ActionLink("Cards", "Index", "Cards")</li>
        @if(User.Identity.IsAuthenticated)
        {
            <li>@Html.ActionLink("My Site", "Home", "Home")</li>
        }
    }
    </text>
}

@RenderBody()

@section Scripts {
    @Scripts.Render(BundlePaths.EXTERNAL_LIBS, BundlePaths.PUBLIC)
    @RenderSection("scripts", required: false)
}
